/* arquivo de formatação */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

main{
    min-height: 100dvh;
    display: flex;
}

aside{
    width: 40% !important;
    min-width: 300px;
    max-width: 600px;
    height: 100dvh;
    background-image: url(./photo-1768560515099-ef4d8960f6cb.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

aside > article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2c2b2bc9;
    width: 100%;
    font-size: 88px;
    margin-top: 2em;
}

aside > article > p {
    margin: 0;
    padding: 16px;
}

aside > footer {
    text-align: center;
    padding-bottom: 1rem;
}

aside > footer > a{
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    height: 100dvh;;
}

section > article {
    flex-grow: 1;
}

/* first block */
.first-block{
    background-color: #f3f4f6;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.first-block > p{
    margin: 0 4em;
    font-weight: 500;
}

/* second block */
.second-block{
    background-color: #fff;
    box-shadow: 0px 2px 2px 1px #00000091;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    gap: 1em;
}

#form-subscribe{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    margin: auto 2em;
    gap: 1em;
}

#form-subscribe > fieldset {
    border: none;
}

#form-subscribe > fieldset > legend {
    padding-left: 1em;
    font-size: 1.4em;
    font-weight: 500;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1em;
    gap: 1em;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
}

.flex-item{    
    flex-grow: 1;
}

.flex-item > label {
    display: block;
    font-size: 1.2em;
}

.flex-item > input {
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 1.2em;
    padding: 0.5em 1em;
    width: 90%;
}

.flex-item > input[type="text"]:focus,
.flex-item > input[type="email"]:focus,
.flex-item > input[type="tel"]:focus {
    outline: none;
    border-color: #596d48;
    box-shadow: 0 0 5px #596d48;
}

.password:focus {
    outline: none;
    border-color: #596d48;
    box-shadow: 0 0 5px #596d48;
}

.password-check:focus {
    outline: none;
    border-color: red;
    box-shadow: 0 0 5px red;
}



/* third block */
.third-block{
    background-color: #f3f4f6;    
    gap: 1em;
    padding: 4em;
}

.third-block > button {
    width: auto;
    background-color: #596d48;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
}

.third-block > button:hover{
    background-color: #506140;
}

.third-block > p {
    font-size: 1.4em;
}